RewriteEngine On
RewriteBase /PJ1/BackEnd/public/

# Nếu file hoặc thư mục tồn tại thì truy cập trực tiếp (không chuyển hướng qua index.php)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Còn lại thì chuyển qua index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Allow CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type"
